settings {
	logfile = "/dev/stdout",
	statusFile = "/var/run/lsyncd.status",
	pidfile = "/var/run/lsyncd.pid",
	nodaemon = "true",
	insist = "true"
}

sync {
	default.rsyncssh,
	source = '/mnt/host/<guest name here>',
	host = 'remote.example.com',
	targetdir = '/mnt/data/<guest name here>',
	ssh = {
		port = 4022,
		identityFile = '/root/.ssh/id_rsa'
	}
}
